body{
    background-color: rgb(199, 199, 199);
}
.mycontainer{
    background-color: rgb(219, 219, 219);
    padding: 8px 6px;
}
#bcentered{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ddd;
        padding: 10px;
}